<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="SearchPress Tests">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./</directory>
			<exclude>
				<directory suffix=".php">./tests/</directory>
				<directory suffix=".php">./bin/</directory>
				<file>./lib/class-sp-debug.php</file>
				<file>./lib/class-sp-singleton.php</file>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
