.tools_page_searchpress .tab-content {
	display: none;
}
.tools_page_searchpress div.progress {
	position: relative;
	height: 50px;
	border: 2px solid #111;
	background: #333;
	margin: 9px 0 18px;
}
.tools_page_searchpress div.progress-bar {
	background: #0074a2;
	position: absolute;
	left: 0;
	top: 0;
	height: 50px;
	z-index: 1;
}
.tools_page_searchpress div.progress-text {
	color: white;
	text-shadow: 1px 1px 0 #333;
	line-height: 50px;
	text-align: center;
	position: absolute;
	width: 100%;
	z-index: 2;
}
.tools_page_searchpress h3 input {
	vertical-align: baseline !important;
	margin-left: 9px !important;
}
.tools_page_searchpress p {
	width: 500px;
	max-width: 100%;
}
.tools_page_searchpress span.explanation {
	display:block;
	font-size: 90%;
	padding-left: 24px;
	font-style: italic;
}
.tools_page_searchpress div.host-index {
	display: flex;
}
.tools_page_searchpress div.host-index p {
	width: 300px;
	margin-top: 0;
}
.tools_page_searchpress div.host-index input {
	width: 100%;
}
.tools_page_searchpress div.host-index span {
	padding: 2em 1em 0;
}
.tools_page_searchpress .auth-options label {
	display: block;
	margin-bottom: 3px;
}
#searchpress-stats {
	margin: 20px 0;
}
#searchpress-stats td, th {
	padding: 5px 10px;
	text-align: center;
}
#searchpress-stats tbody td {
	font-size: 3em;
}
#searchpress-stats .status-ok {
	color: #46b450;
}
#searchpress-stats .status-alert {
	color: #ffb900;
}
#searchpress-stats .status-shutdown {
	color: #dc3232;
}
#searchpress-stats .status-never {
	color: #ffb900;
}
#searchpress-stats .status-inactive {
	color: #aaa;
}
#searchpress-stats tfoot th {
	color: #888;
	font-size: 1em;
	white-space: nowrap;
}
.tools_page_searchpress [role='tooltip'] {
	display: block !important;
}
